.wrapper {
    display: flex;
}

.wrapper .left {
    width: 40%;
    /* background: linear-gradient(to right, #083885, #086cb3); */
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrapper .left img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.wrapper .left h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

.wrapper .left p {
    font-size: 15px;
}

.wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info,
.projects {
    margin-bottom: 25px;
}

.info h3,
.projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.info_data,
.projects_data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info_data .data,
.projects_data .data {
    width: 45%;
}

.info_data .data h4 {
    color: #353c4e;
    font-size: 17px;
    /* margin-bottom: 5px; */
}

.info_data .data p {
    font-size: 15px;
    color: #4a4f54;
}

/* .social_media ul {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}

.social_media ul li {
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #083885, #086cb3);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.social_media ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
} */
