.App {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 0 0.5%;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
    width: 100%;
  }
  
  .flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 5%;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .productName {
    color: black;
    font-size: 18px;
  }
  
  .price {
    color: grey;
    font-size: 18px;
  }

  .rating {
    color: grey;
    font-size: 18px;
  }
  
  .normalBtn {
    padding: 5px 20px;
    background: black;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    border: none;
  }